# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
*.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
# RaySense generated ML datasets and model files
data/*.csv
data/*.pkl
data/*.h5
data/raw/*.csv
data/raw/*.h5
data/weather/*.csv
data/weather/yearly/*.csv
data/metadata/*.geojson